@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    color: white;
    background-color: rgb(50, 50, 50);
}

main {
    display: flex;
    
    flex: 1;

    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1rem;

    color: white;
    background-color: rgb(50, 50, 50);
}

/* CONTROLS */

.nice-button {
    border: 1px solid blue;
    border-radius: 5px;

    padding: 0.25rem;

    color: white;
    background-color: dodgerblue;

    transition: background-color 0.25s;
}
.nice-button:hover {
    background-color: #2777E8;
}
.nice-button:active {
    background-color: #538FE2;
}
.nice-button:disabled {
    border: 1px solid black;
    color: #777777;
    background-color: #ADADAD;
}

.nice-field {
    border: 1px solid black;
    border-radius: 5px;
    
    padding: 0.25rem;
}